[server]

# for test running locally:
#ip = 127.0.0.1
#port = 0

# for DESY BACnet:
ip = 10.169.204.200
port = 47809

# to be decided:
objectName = DAF-CR-Gate-Srv
vendorIdentifier = 15
vendorName = DESY-DAF
location = DAF Geb.25c
modelName = CLEANROOM-METERS
description = Geb.25C Curing Cabinets

verbose = 1

# daf
thermorasps = rasp3-bus1-ch1 rasp3-bus4-ch1 rasp3-bus4-ch0 rasp3-bus3-ch1

[storage]
path = curing-cabinets

[rasp3-bus1-ch1]
host = fhlthermorasp3.desy.de
port = 50008
name = cabinet2_bme680-top
description = RaspPi with meters
updateInterval = 60 

[rasp3-bus4-ch1]
host = fhlthermorasp3.desy.de
port = 50009
name = cabinet2_bme680-middle
description = RaspPi with meters
updateInterval = 60 

[rasp3-bus4-ch0]
host = fhlthermorasp3.desy.de
port = 50010
name = cabinet2_bme680-bottom
description = RaspPi with meters
updateInterval = 60 

[rasp3-bus3-ch1]
host = fhlthermorasp3.desy.de
port = 50011
name = cabinet2_bme680-extra
description = RaspPi with meters
updateInterval = 60 
