[server]

keyword = irsetup
measurement = environment


# for test running locally:
#ip = 127.0.0.1
#port = 0

# for DESY BACnet:
ip = 10.169.204.200
port = 47809

# to be decided:
objectName = DAF-CR-Gate-Srv
vendorIdentifier = 15
vendorName = DESY-DAF
location = DAF Geb.25c
modelName = CLEANROOM-METERS
description = Geb.26 Infrared Setup


verbose = 1


thermorasps = raspberry9-bus1-ch1

[storage]
path = infrared-setup
# using environment variables see .bashrc, .zshrc, etc.
database_url = INFLUX_URL_CMSDAF
organization = INFLUX_ORG_CMSDAF
token = INFLUX_TOKEN_IRSETUP
bucket = INFLUX_BUCKET_IRSETUP

[raspberry9-bus1-ch1]
host = fhlthermorasp9.desy.de
port = 50011
name = reference
meter_type = bme680
description = RaspPi with meters
updateInterval = 60


