[server]

# for test running locally:
#ip = 127.0.0.1
#port = 0

# for DESY BACnet:
ip = 10.169.204.200
port = 47809

# to be decided:
objectName = DAF-CR-Gate-Srv
vendorIdentifier = 15
vendorName = DESY-DAF
location = DAF Geb.25c
modelName = CLEANROOM-METERS
description = Geb.26 Infrared Setup

verbose = 1

dustmeters = dustmeter_a49 dustmeter_a57

[storage]
path = /home/cleangat/daf-monitoring/data/dustmeter_25c


[dustmeter_a49]
host = fhlrs232_a49.desy.de
description = dustmeter on RS232-Ethernet bridge at somewhere
name = dustmeter_25c_a49
updateInterval = 60

[dustmeter_a57]
host = fhlrs232_a57.desy.de
description = dustmeter on RS232-Ethernet bridge at somewhere
name = dustmeter_25c_a57
updateInterval = 60

