[server]

# for DESY BACnet:
ip = 10.169.204.200
port = 47809

# to be decided:
objectName = DAF-CR-Gate-Srv
vendorIdentifier = 15
vendorName = DESY-DAF
location = DAF Geb.26
modelName = CLEANROOM-METERS
description = PT100 tmeperature sensors

verbose = 1

###### MAIN ######

thermorasps = raspberry13-spi0-ch0 raspberry13-spi0-ch1

[storage]
path = /home/cleangat/daf-monitoring/bacdevice/data/burnin

[raspberry13-spi0-ch0]
host = fhlthermorasp13.desy.de
port = 50020
name = burnin_pt100_0
description = RaspPi with meters
updateInterval = 60

[raspberry13-spi0-ch1]
host = fhlthermorasp13.desy.de
port = 50021
name = burnin_pt100_1
description = RaspPi with meters
updateInterval = 60
