[server]

keyword = irsetup
measurement = environment


# for test running locally:
#ip = 127.0.0.1
#port = 0

# for DESY BACnet:
ip = 10.169.204.200
port = 47809

# to be decided:
objectName = DAF-CR-Gate-Srv
vendorIdentifier = 15
vendorName = DESY-DAF
location = DAF Geb.25c
modelName = CLEANROOM-METERS
description = Geb.26 Infrared Setup


verbose = 1


thermorasps = raspberry7-bus4-ch1 raspberry7-bus5-ch1 raspberry13-bus1-ch1 raspberry13-bus5-ch1 raspberry9-bus1-ch1

[storage]
path = infrared-setup
# using environment variables see .bashrc, .zshrc, etc.
database_url = INFLUX_URL_CMSDAF
organization = INFLUX_ORG_CMSDAF
token = INFLUX_TOKEN_IRSETUP
bucket = INFLUX_BUCKET_IRSETUP

[raspberry7-bus4-ch1]
host = fhlthermorasp7.desy.de
port = 50017
name = left-bottom
meter_type = bme680
description = RaspPi with meters
updateInterval = 60

[raspberry7-bus5-ch1]
host = fhlthermorasp7.desy.de
port = 50019
name = left-top
meter_type = bme680
description = RaspPi with meters
updateInterval = 60


[raspberry13-bus1-ch1]
host = fhlthermorasp13.desy.de
port = 50011
name = right-bottom
meter_type = bme680
description = RaspPi with meters
updateInterval = 60

[raspberry13-bus5-ch1]
host = fhlthermorasp13.desy.de
port = 50019
name = right-top
meter_type = bme680
description = RaspPi with meters
updateInterval = 60


[raspberry9-bus1-ch1]
host = fhlthermorasp9.desy.de
port = 50011
name = reference
meter_type = bme680
description = RaspPi with meters
updateInterval = 60


