[server]

keyword = irsetup
measurement = cooling

# for test running locally:
#ip = 127.0.0.1
#port = 0

# for DESY BACnet:
ip = 10.169.204.200
port = 47809

# to be decided:
objectName = DAF-CR-Gate-Srv
vendorIdentifier = 15
vendorName = DESY-DAF
location = DAF Geb.25c
modelName = CLEANROOM-METERS
description = Geb.26 Infrared Setup

verbose = 1

thermorasps = raspberry7-w1-16 raspberry7-w1-17  raspberry7-w1-26 raspberry7-w1-27

[storage]
path = infrared-setup
# using environment variables see .bashrc, .zshrc, etc.
database_url = INFLUX_URL_CMSDAF
organization = INFLUX_ORG_CMSDAF
token = INFLUX_TOKEN_IRSETUP
bucket = INFLUX_BUCKET_IRSETUP


[raspberry7-w1-27]
host = fhlthermorasp7.desy.de
port = 50034
name = sensor_4
meter_type = ds18b20
description = RaspPi with meters
updateInterval = 60

[raspberry7-w1-26]
host = fhlthermorasp7.desy.de
port = 50033
name = sensor_3
meter_type = ds18b20
description = RaspPi with meters
updateInterval = 60

[raspberry7-w1-17]
host = fhlthermorasp7.desy.de
port = 50032
name = sensor_2
meter_type = ds18b20
description = RaspPi with meters
updateInterval = 60

[raspberry7-w1-16]
host = fhlthermorasp7.desy.de
port = 50031
name = sensor_1
meter_type = ds18b20
description = RaspPi with meters
updateInterval = 60


